version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: foodapp
      POSTGRES_PASSWORD: foodapp
      POSTGRES_DB: foodapp
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api-gateway:
    build:
      context: .
      dockerfile: services/api-gateway/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - auth-service
      - restaurant-service
      - order-service

  auth-service:
    build:
      context: .
      dockerfile: services/auth-service/Dockerfile
    ports:
      - "4001:4001"
    env_file:
      - .env
  restaurant-service:
    build:
      context: .
      dockerfile: services/restaurant-service/Dockerfile
    ports:
      - "4002:4002"
    env_file:
      - .env
  order-service:
    build:
      context: .
      dockerfile: services/order-service/Dockerfile
    ports:
      - "4003:4003"
    env_file:
      - .env
  payment-service:
    build:
      context: .
      dockerfile: services/payment-service/Dockerfile
    ports:
      - "4004:4004"
    env_file:
      - .env
  notification-service:
    build:
      context: .
      dockerfile: services/notification-service/Dockerfile
      